*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin clearfix {
   &:after{
    content: "";
    display: table;
    clear: both;
   }
}

//setting some required variables

//colors
$primary-color: #0d47a1;
$secondary-color: #42a5f5;
$link-hover:rgb(207, 207, 207);



//setting the default html font-size to 62.5 to get 1 rem equals to 10px;
html{
    font-size: 62.5%;
}

//styling the navigation area
nav{
    display: inline-block;
    height: inherit;
}
.nav{
    font-family:  "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

    &_area{
        height: 4rem;
        padding: 1rem;
    }
    &_brand{
        height: 4rem;
        float: left;
        margin-right: .8rem;
       
    }

    &_container{ 
        background-image: linear-gradient(to right bottom, $primary-color, $secondary-color);
        width: 100%;
        height: 85vh;
        background-size: cover;
        
       &_full{
           height: inherit;
        background-image:linear-gradient(11deg,
        rgba(white, 1) 0%,
        rgba(white, 1) 34%,
        transparent 0%);
        background-size: cover;
       }
    }
    &_ul{
        float: left;
    }
    &_li{
       list-style-type: none;
       display: inline-block;
      
       padding: .8rem 1.6rem;
        &_link{
            color: white;
            text-align: center;
            font-size: 1.8rem;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            &:hover{
                color: $link-hover;
            }
        }
    }
   
    &_middle{
        position: absolute;
        padding-left: 13rem;
        width: 90rem;
        height: 50rem;
        display: inline-block;
        
        
        &_logo{
            position: relative;
            top: 4rem;
            left: 4rem;
            float: left;
            width: 40rem;
            height: 40rem;
        }
        &_header{
            color: white;
            font-size: 3.5rem;
            position: relative;
            top: 8rem;
            left: 4rem;
            padding-top: 6rem;
            font-weight: 700;
            line-height: 4rem;
            &_bottom{
                display: inline-block;
                margin-top: 2rem;
            }
        }
    }
}
.icons{
    float: right;
    display: inline-block;

    &_search{
        border-radius: 3rem;
        outline: none;
        padding: .8rem;
       
    }

    &_icon{
    font-size: 2.4rem;
    color: white;
    padding-top: .8rem;
    padding-right: .8rem;
    text-decoration: none;
    }

}
.icofont-twitter{
    padding-left: 1rem;
    margin-top: .5rem;
}

.btn{
    display: block;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 3rem;
    margin-top: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
    color: blue;
    &--white{
        background: white;
    }
    &:hover{
        color: rgb(88, 88, 88);
        background-color: $link-hover;
    }

}